.ipynb_checkpoints
data
images
eynollah
mofanerf
openai-quickstart-node
openai-quickstart-python
results

code/raw_extract
code/data/.ipynb_checkpoints
code/data/images_beeldbank
code/data/overig

code/notebooks/BERT.IPYNB
code/processed/processed_crossroads_en.csv
code/processed/processed_egypte_nl.csv

